body{
    background-color: #f4f2e1;
}
.page {
    width: 900px;
    background-color: #f9f8f7;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.pure-g {
    width: 890;
    height: 500;
}
.chart {
    margin-bottom: 40px;
    margin-top: 5px;
}


#chart23 {
    width: 100%;
    /* outline: 2px solid rgba(89, 79, 79, 0.09); */
    }

.title {
/* Center horizontally*/
text-align: center;
}